# Pandas-Basics

In [106]:
#import pd library
import pandas as pd

## Series [1d]

In [107]:
#series-1d array a sinfle column in the spreadsheet
data=[1,2,3]
series=pd.Series(data)
print(series,"\n")
series.loc[1]+=2
print(series.loc[1],"\n")

data=[1,2,3.1]
series=pd.Series(data)
print(series,"\n")

data=["A","B","C"]
series=pd.Series(data)
print(series,"\n")

data=[True, False, True]
series=pd.Series(data)
print(series,"\n")

#for custom index
data=[1,2,3]
series=pd.Series(data,index=["a","b","c"])
print(series,"\n")
print(series.loc["a"],"\n")
print(series.iloc[1],"\n")#here iloc means integer location

#here loc means locate to locate the value at the given index to access and change the value
#syntax: series_name.loc[index]

0    1
1    2
2    3
dtype: int64

4

0    1.0
1    2.0
2    3.1
dtype: float64

0    A
1    B
2    C
dtype: object

0     True
1    False
2     True
dtype: bool

a    1
b    2
c    3
dtype: int64

1

2

## Filtering for series and dataframe
keeping only the rows that match the condition

In [108]:
##For SERIES

data=[1,2,3,4,5]
series=pd.Series(data)
print(series[series>3],"\n")

##dictionary to series example
calories={"day 1":1750,"day 2":2100,"day 3":1700}
series=pd.Series(calories)
print(series[series>1700],"\n")

##----------------------------------------------------------------------------------------------

##For DataFrame
df=pd.read_csv("C:/Projects/Machine Learning/Code/Data-Set/Pokemon_data.csv")
tall_pokemon=df[df["Height"]>=2]
heavy_pokemon=df[df["Weight"]>100]
legendary_pokemon=df[df["Legendary"]==1]
legendary_pokemon=df[df["Legendary"]==True]##same as int value of bool True is 1

water_pokemon=df[(df["Type1"]=="Water") | (df["Type2"]=="Water")] #or logical Operator
ff_pokemon=df[(df["Type1"]=="Fire") & (df["Type2"]=="Flying")]#and logical Operator
print(ff_pokemon)

3    4
4    5
dtype: int64

day 1    1750
day 2    2100
dtype: int64

      No       Name Type1   Type2  Height  Weight  Legendary
5      6  Charizard  Fire  Flying     1.7    90.5          0
145  146    Moltres  Fire  Flying     2.0    60.0          1

## Dataframe [2d]

In [109]:
data={"Name":["Mukesh","Chotu","Bablu"],
      "Age":[11,12,13],
      "Class":[4,5,6]
}
df=pd.DataFrame(data,index=["Employee 1","Employee 2","Employee 3"])
print(df,"\n")
print(df.loc["Employee 1"],"\n")
print(df.iloc[1],"\n")

#Add a new column/ series
df["Job"]=["cook","playboy","teacher"]
print(df,"\n")

#Add a new row
new_row=pd.DataFrame([{"Name":"Dimdim", "Age":26, "Class":10, "Job": "N/A"}],
                    index=["Employee 4"])
df=pd.concat([df,new_row])
print(df,"\n")


#Add a new rows
new_row=pd.DataFrame([{"Name":"Dimdim", "Age":26, "Class":10, "Job": "N/A"},
                      {"Name":"Domdim", "Age":23, "Class":12, "Job": "Auntie"},
                      {"Name":"Dimdom", "Age":25, "Class":7, "Job": "PT"}],
                    index=["Employee 5","Employee 6","Employee 7"])
df=pd.concat([df,new_row])
print(df,"\n")



# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Add a new column with a single value
df['City'] = 'New York'

# Add a new column with a list of values
df['Occupation'] = ['Engineer', 'Data Scientist', 'Manager']


#---------------------------------------------------------------------------------------------------------------
#To Remove the existing row

print(df)
# Method A: Create a new DataFrame (recommended)
df_new = df.drop(columns=['City'])
print(df_new)

# Method B: Modify the original DataFrame in-place
df.drop(columns=['City'], inplace=True)
print("\nOriginal DataFrame after dropping column 'C' in-place:")
print(df)

#Method B: Using Del Keyword which direcly deletes the column from the original array(alternative) 
## Note that this is a permanent opertion and can not be reverted so avoid using.
del df_new["Occupation"]
print(df_new)

              Name  Age  Class
Employee 1  Mukesh   11      4
Employee 2   Chotu   12      5
Employee 3   Bablu   13      6

Name     Mukesh
Age          11
Class         4
Name: Employee 1, dtype: object

Name     Chotu
Age         12
Class        5
Name: Employee 2, dtype: object

              Name  Age  Class      Job
Employee 1  Mukesh   11      4     cook
Employee 2   Chotu   12      5  playboy
Employee 3   Bablu   13      6  teacher

              Name  Age  Class      Job
Employee 1  Mukesh   11      4     cook
Employee 2   Chotu   12      5  playboy
Employee 3   Bablu   13      6  teacher
Employee 4  Dimdim   26     10      N/A

              Name  Age  Class      Job
Employee 1  Mukesh   11      4     cook
Employee 2   Chotu   12      5  playboy
Employee 3   Bablu   13      6  teacher
Employee 4  Dimdim   26     10      N/A
Employee 5  Dimdim   26     10      N/A
Employee 6  Domdim   23     12   Auntie
Employee 7  Dimdom   25      7       PT

      Name  Age      City      Occupation
0    Alice   25  New York        Engineer
1      Bob   30  New York  Data Scientist
2  Charlie   35  New York         Manager
      Name  Age      Occupation
0    Alice   25        Engineer
1      Bob   30  Data Scientist
2  Charlie   35         Manager

Original DataFrame after dropping column 'C' in-place:
      Name  Age      Occupation
0    Alice   25        Engineer
1      Bob   30  Data Scientist
2  Charlie   35         Manager
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

## Importing CSV and Json Files

In [110]:
df=pd.read_csv("C:\Projects\Machine Learning\Code\Data-Set\Iris.csv")
#df=pd.read_csv("C:\Projects\Machine Learning\Code\Data-Set\Iris.csv",index_col="Species")
#here we have the species as the index 

print(df)
print(df["Species"].to_string())#this prints all of the values in the DataFrame
# print(df.to_string) or print(df["Species"].to_string())

##to read json file
#df=pd.read_json("File_Path")

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]
0          Iris-setosa
1          Iris-setosa
2          Iris-setosa
3          Iris-setosa
4          Iris-setosa
5          Iris-setosa
6          Iris-setosa
7          Iris-setosa
8          Iris-setosa
9          Iris-setosa
10         Iris-setosa
11         Iris-setosa
12         Iris-setosa
13         Iris-setosa
14         Iris-setosa
15         Iris-setosa
16         Iris-setosa
17         Iris-setosa
18         Iris-setosa
19         Iris-setosa
20         Iris-setosa
21         Iris-setosa
22         Iris-setosa
23         Iris-setosa
24         Iris-setosa
25         Iris-setosa
26         Iris-setosa
27         Iris-setosa
28         Iris-setosa
29         Iris-setosa
30         Iris-setosa
31         Iris-setosa
32         Iris-setosa
33         Iris-setosa
34         Iris-setosa
35         Iris-setosa
36         Iris-setosa
37         Iris-setosa
38         Iris-setosa
39         Iris-setosa
40         Iris-setosa
41         Iris-setosa
42         Iris-setosa
43         Iris-setosa
44         Iris-setosa
45         Iris-setosa
46         Iris-setosa
47         Iris-setosa
48         Iris-setosa
49         Iris-setosa
50     Iris-versicolor
51     Iris-versicolor
52     Iris-versicolor
53     Iris-versicolor
54     Iris-versicolor
55     Iris-versicolor
56     Iris-versicolor
57     Iris-versicolor
58     Iris-versicolor
59     Iris-versicolor
60     Iris-versicolor
61     Iris-versicolor
62     Iris-versicolor
63     Iris-versicolor
64     Iris-versicolor
65     Iris-versicolor
66     Iris-versicolor
67     Iris-versicolor
68     Iris-versicolor
69     Iris-versicolor
70     Iris-versicolor
71     Iris-versicolor
72     Iris-versicolor
73     Iris-versicolor
74     Iris-versicolor
75     Iris-versicolor
76     Iris-versicolor
77     Iris-versicolor
78     Iris-versicolor
79     Iris-versicolor
80     Iris-versicolor
81     Iris-versicolor
82     Iris-versicolor
83     Iris-versicolor
84     Iris-versicolor
85     Iris-versicolor
86     Iris-versicolor
87     Iris-versicolor
88     Iris-versicolor
89     Iris-versicolor
90     Iris-versicolor
91     Iris-versicolor
92     Iris-versicolor
93     Iris-versicolor
94     Iris-versicolor
95     Iris-versicolor
96     Iris-versicolor
97     Iris-versicolor
98     Iris-versicolor
99     Iris-versicolor
100     Iris-virginica
101     Iris-virginica
102     Iris-virginica
103     Iris-virginica
104     Iris-virginica
105     Iris-virginica
106     Iris-virginica
107     Iris-virginica
108     Iris-virginica
109     Iris-virginica
110     Iris-virginica
111     Iris-virginica
112     Iris-virginica
113     Iris-virginica
114     Iris-virginica
115     Iris-virginica
116     Iris-virginica
117     Iris-virginica
118     Iris-virginica
119     Iris-virginica
120     Iris-virginica
121     Iris-virginica
122     Iris-virginica
123     Iris-virginica
124     Iris-virginica
125     Iris-virginica
126     Iris-virginica
127     Iris-virginica
128     Iris-virginica
129     Iris-virginica
130     Iris-virginica
131     Iris-virginica
132     Iris-virginica
133     Iris-virginica
134     Iris-virginica
135     Iris-virginica
136     Iris-virginica
137     Iris-virginica
138     Iris-virginica
139     Iris-virginica
140     Iris-virginica
141     Iris-virginica
142     Iris-virginica
143     Iris-virginica
144     Iris-virginica
145     Iris-virginica
146     Iris-virginica
147     Iris-virginica
148     Iris-virginica
149     Iris-virginica

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\vaibh\AppData\Local\Temp\ipykernel_30324\2104582352.py:1: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Projects\Machine Learning\Code\Data-Set\Iris.csv")

## Accessing Data  with Pandas

### Selection

In [111]:
df=pd.read_csv("C:\Projects\Machine Learning\Code\Data-Set\Iris.csv",index_col="Species")

#Selection by Column

'''print(df["Species"])
print(df["PetalLengthCm"])
print(df["PetalWidthCm"])           '''
print(df[["SepalLengthCm","SepalWidthCm"]])


## Syntax:  df.loc["row_label","column_label"]
## Syntax:  df.iloc["row_index","column_index"] 
#Selection by Row

print(df.iloc[0])#1st row
print(df.iloc[[0,1,2,3,4,5,6,7]])
print(df.loc["Iris-setosa"])#all values present in this column having this species
print(df.loc[["Iris-setosa","Iris-virginica"]])#all rows having this species
print(df.loc["Iris-setosa",["PetalWidthCm","PetalLengthCm"]])#same as above but only the selected tags will be printed

#values can be modified using loc
df.loc["Iris-setosa","SepalLengthCm"]=10
print(df)

#values can be modified using iloc
df.iloc[1,1]=10
df.iloc[1:5,1]=20 
print(df.head())

                SepalLengthCm  SepalWidthCm
Species
Iris-setosa               5.1           3.5
Iris-setosa               4.9           3.0
Iris-setosa               4.7           3.2
Iris-setosa               4.6           3.1
Iris-setosa               5.0           3.6
...                       ...           ...
Iris-virginica            6.7           3.0
Iris-virginica            6.3           2.5
Iris-virginica            6.5           3.0
Iris-virginica            6.2           3.4
Iris-virginica            5.9           3.0

[150 rows x 2 columns]
Id               1.0
SepalLengthCm    5.1
SepalWidthCm     3.5
PetalLengthCm    1.4
PetalWidthCm     0.2
Name: Iris-setosa, dtype: float64
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   1            5.1           3.5            1.4           0.2
Iris-setosa   2            4.9           3.0            1.4           0.2
Iris-setosa   3            4.7           3.2            1.3           0.2
Iris-setosa   4            4.6           3.1            1.5           0.2
Iris-setosa   5            5.0           3.6            1.4           0.2
Iris-setosa   6            5.4           3.9            1.7           0.4
Iris-setosa   7            4.6           3.4            1.4           0.3
Iris-setosa   8            5.0           3.4            1.5           0.2
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   1            5.1           3.5            1.4           0.2
Iris-setosa   2            4.9           3.0            1.4           0.2
Iris-setosa   3            4.7           3.2            1.3           0.2
Iris-setosa   4            4.6           3.1            1.5           0.2
Iris-setosa   5            5.0           3.6            1.4           0.2
Iris-setosa   6            5.4           3.9            1.7           0.4
Iris-setosa   7            4.6           3.4            1.4           0.3
Iris-setosa   8            5.0           3.4            1.5           0.2
Iris-setosa   9            4.4           2.9            1.4           0.2
Iris-setosa  10            4.9           3.1            1.5           0.1
Iris-setosa  11            5.4           3.7            1.5           0.2
Iris-setosa  12            4.8           3.4            1.6           0.2
Iris-setosa  13            4.8           3.0            1.4           0.1
Iris-setosa  14            4.3           3.0            1.1           0.1
Iris-setosa  15            5.8           4.0            1.2           0.2
Iris-setosa  16            5.7           4.4            1.5           0.4
Iris-setosa  17            5.4           3.9            1.3           0.4
Iris-setosa  18            5.1           3.5            1.4           0.3
Iris-setosa  19            5.7           3.8            1.7           0.3
Iris-setosa  20            5.1           3.8            1.5           0.3
Iris-setosa  21            5.4           3.4            1.7           0.2
Iris-setosa  22            5.1           3.7            1.5           0.4
Iris-setosa  23            4.6           3.6            1.0           0.2
Iris-setosa  24            5.1           3.3            1.7           0.5
Iris-setosa  25            4.8           3.4            1.9           0.2
Iris-setosa  26            5.0           3.0            1.6           0.2
Iris-setosa  27            5.0           3.4            1.6           0.4
Iris-setosa  28            5.2           3.5            1.5           0.2
Iris-setosa  29            5.2           3.4            1.4           0.2
Iris-setosa  30            4.7           3.2            1.6           0.2
Iris-setosa  31            4.8           3.1            1.6           0.2
Iris-setosa  32            5.4           3.4            1.5           0.4
Iris-setosa  33            5.2           4.1            1.5           0.1
Iris-setosa  34            5.5           4.2            1.4           0.2
Iris-setosa  35            4.9           3.1            1.5           0.1
Iris-setosa  36            5.0           3.2            1.2           0.2
Iris-setosa  37            5.5           3.5            1.3           0.2
Iris-setosa  38            4.9           3.1            1.5           0.1
Iris-setosa  39            4.4           3.0            1.3           0.2
Iris-setosa  40            5.1           3.4            1.5           0.2
Iris-setosa  41            5.0           3.5            1.3           0.3
Iris-setosa  42            4.5           2.3            1.3           0.3
Iris-setosa  43            4.4           3.2            1.3           0.2
Iris-setosa  44            5.0           3.5            1.6           0.6
Iris-setosa  45            5.1           3.8            1.9           0.4
Iris-setosa  46            4.8           3.0            1.4           0.3
Iris-setosa  47            5.1           3.8            1.6           0.2
Iris-setosa  48            4.6           3.2            1.4           0.2
Iris-setosa  49            5.3           3.7            1.5           0.2
Iris-setosa  50            5.0           3.3            1.4           0.2
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       1            5.1           3.5            1.4           0.2
Iris-setosa       2            4.9           3.0            1.4           0.2
Iris-setosa       3            4.7           3.2            1.3           0.2
Iris-setosa       4            4.6           3.1            1.5           0.2
Iris-setosa       5            5.0           3.6            1.4           0.2
...             ...            ...           ...            ...           ...
Iris-virginica  146            6.7           3.0            5.2           2.3
Iris-virginica  147            6.3           2.5            5.0           1.9
Iris-virginica  148            6.5           3.0            5.2           2.0
Iris-virginica  149            6.2           3.4            5.4           2.3
Iris-virginica  150            5.9           3.0            5.1           1.8

[100 rows x 5 columns]
             PetalWidthCm  PetalLengthCm
Species
Iris-setosa           0.2            1.4
Iris-setosa           0.2            1.4
Iris-setosa           0.2            1.3
Iris-setosa           0.2            1.5
Iris-setosa           0.2            1.4
Iris-setosa           0.4            1.7
Iris-setosa           0.3            1.4
Iris-setosa           0.2            1.5
Iris-setosa           0.2            1.4
Iris-setosa           0.1            1.5
Iris-setosa           0.2            1.5
Iris-setosa           0.2            1.6
Iris-setosa           0.1            1.4
Iris-setosa           0.1            1.1
Iris-setosa           0.2            1.2
Iris-setosa           0.4            1.5
Iris-setosa           0.4            1.3
Iris-setosa           0.3            1.4
Iris-setosa           0.3            1.7
Iris-setosa           0.3            1.5
Iris-setosa           0.2            1.7
Iris-setosa           0.4            1.5
Iris-setosa           0.2            1.0
Iris-setosa           0.5            1.7
Iris-setosa           0.2            1.9
Iris-setosa           0.2            1.6
Iris-setosa           0.4            1.6
Iris-setosa           0.2            1.5
Iris-setosa           0.2            1.4
Iris-setosa           0.2            1.6
Iris-setosa           0.2            1.6
Iris-setosa           0.4            1.5
Iris-setosa           0.1            1.5
Iris-setosa           0.2            1.4
Iris-setosa           0.1            1.5
Iris-setosa           0.2            1.2
Iris-setosa           0.2            1.3
Iris-setosa           0.1            1.5
Iris-setosa           0.2            1.3
Iris-setosa           0.2            1.5
Iris-setosa           0.3            1.3
Iris-setosa           0.3            1.3
Iris-setosa           0.2            1.3
Iris-setosa           0.6            1.6
Iris-setosa           0.4            1.9
Iris-setosa           0.3            1.4
Iris-setosa           0.2            1.6
Iris-setosa           0.2            1.4
Iris-setosa           0.2            1.5
Iris-setosa           0.2            1.4
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       1           10.0           3.5            1.4           0.2
Iris-setosa       2           10.0           3.0            1.4           0.2
Iris-setosa       3           10.0           3.2            1.3           0.2
Iris-setosa       4           10.0           3.1            1.5           0.2
Iris-setosa       5           10.0           3.6            1.4           0.2
...             ...            ...           ...            ...           ...
Iris-virginica  146            6.7           3.0            5.2           2.3
Iris-virginica  147            6.3           2.5            5.0           1.9
Iris-virginica  148            6.5           3.0            5.2           2.0
Iris-virginica  149            6.2           3.4            5.4           2.3
Iris-virginica  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   1           10.0           3.5            1.4           0.2
Iris-setosa   2           20.0           3.0            1.4           0.2
Iris-setosa   3           20.0           3.2            1.3           0.2
Iris-setosa   4           20.0           3.1            1.5           0.2
Iris-setosa   5           20.0           3.6            1.4           0.2

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\vaibh\AppData\Local\Temp\ipykernel_30324\3852359132.py:1: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Projects\Machine Learning\Code\Data-Set\Iris.csv",index_col="Species")

### Slicing

In [112]:
#here we can apply slicing
#syntax for slicing:
#df.iloc[Rows, Columns] where for both row and columns: (start:end:step)

#print selected columns
print(df.iloc[:,0:3])

#Print selected rows
print(df.iloc[0:5:2])#prints the first 5 values and all columns are printed
print(df.loc["Iris-setosa":"Iris-versicolor":20])#all rows having this species with a gap of 20 

#print selected rows and columns
print(df.loc["Iris-setosa":"Iris-versicolor","PetalLengthCm"])
print(df.loc["Iris-setosa":"Iris-versicolor",["PetalWidthCm","PetalLengthCm"]])#same as above but only the selected tags will be printed

print(df.iloc[0:5:2,0:3])#prints the first 5 values with a step of 2 and the first 3 columns are printed
print(df.iloc[0:5:2,[0,1,2]])#prints the first 5 values with a step of 2 and the first 3 columns are printed

                 Id  SepalLengthCm  SepalWidthCm
Species
Iris-setosa       1           10.0           3.5
Iris-setosa       2           20.0           3.0
Iris-setosa       3           20.0           3.2
Iris-setosa       4           20.0           3.1
Iris-setosa       5           20.0           3.6
...             ...            ...           ...
Iris-virginica  146            6.7           3.0
Iris-virginica  147            6.3           2.5
Iris-virginica  148            6.5           3.0
Iris-virginica  149            6.2           3.4
Iris-virginica  150            5.9           3.0

[150 rows x 3 columns]
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   1           10.0           3.5            1.4           0.2
Iris-setosa   3           20.0           3.2            1.3           0.2
Iris-setosa   5           20.0           3.6            1.4           0.2
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa       1           10.0           3.5            1.4           0.2
Iris-setosa      21           10.0           3.4            1.7           0.2
Iris-setosa      41           10.0           3.5            1.3           0.3
Iris-versicolor  61            5.0           2.0            3.5           1.0
Iris-versicolor  81            5.5           2.4            3.8           1.1
Species
Iris-setosa        1.4
Iris-setosa        1.4
Iris-setosa        1.3
Iris-setosa        1.5
Iris-setosa        1.4
                  ...
Iris-versicolor    4.2
Iris-versicolor    4.2
Iris-versicolor    4.3
Iris-versicolor    3.0
Iris-versicolor    4.1
Name: PetalLengthCm, Length: 100, dtype: float64
                 PetalWidthCm  PetalLengthCm
Species
Iris-setosa               0.2            1.4
Iris-setosa               0.2            1.4
Iris-setosa               0.2            1.3
Iris-setosa               0.2            1.5
Iris-setosa               0.2            1.4
...                       ...            ...
Iris-versicolor           1.2            4.2
Iris-versicolor           1.3            4.2
Iris-versicolor           1.3            4.3
Iris-versicolor           1.1            3.0
Iris-versicolor           1.3            4.1

[100 rows x 2 columns]
             Id  SepalLengthCm  SepalWidthCm
Species
Iris-setosa   1           10.0           3.5
Iris-setosa   3           20.0           3.2
Iris-setosa   5           20.0           3.6
             Id  SepalLengthCm  SepalWidthCm
Species
Iris-setosa   1           10.0           3.5
Iris-setosa   3           20.0           3.2
Iris-setosa   5           20.0           3.6

### Sorting

In [113]:
## Sorting
print(df.sort_values("PetalWidthCm").head())
print(df.sort_values("PetalWidthCm",ascending=False).head())

print(df.sort_values(["PetalWidthCm","PetalLengthCm"]).head())
#to sort multiple lables with each lable having same order
print(df.sort_values(["PetalWidthCm","PetalLengthCm"],ascending=False).head())
#to sort multiple lables with each lable having different order
print(df.sort_values(["PetalWidthCm","PetalLengthCm"],ascending=[0,1]).head())# 0->False   1->True

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa  13           10.0           3.0            1.4           0.1
Iris-setosa  14           10.0           3.0            1.1           0.1
Iris-setosa  10           10.0           3.1            1.5           0.1
Iris-setosa  33           10.0           4.1            1.5           0.1
Iris-setosa  35           10.0           3.1            1.5           0.1
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  115            5.8           2.8            5.1           2.4
Iris-virginica  137            6.3           3.4            5.6           2.4
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa  14           10.0           3.0            1.1           0.1
Iris-setosa  13           10.0           3.0            1.4           0.1
Iris-setosa  10           10.0           3.1            1.5           0.1
Iris-setosa  33           10.0           4.1            1.5           0.1
Iris-setosa  35           10.0           3.1            1.5           0.1
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  137            6.3           3.4            5.6           2.4
Iris-virginica  141            6.7           3.1            5.6           2.4
                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  115            5.8           2.8            5.1           2.4
Iris-virginica  137            6.3           3.4            5.6           2.4

# Important
### Functions in Pandas

In [ ]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=["A","B","C"])##to index rows
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"])##to index columns
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=["A","B","C"],index=["x","y","z"])##to index both

#-------------------------------------------------------------------------------------------------------

print(df.head(10))#to see the first 5 rows
print(df.tail(10))#to see the last 5 rows
print(df.sample())#to see any random rows
print(df.sample(2,random_state=1))#this will not change (deterministic)

print(df.columns)#to see column index
print(df.index)#to see row index
print(df.shape)#to see the shape of the dataframe like numpy
print(df.size)#product of all dimensions in dataframe = total numnber of elements in df
print(df.info())#to see the info about the dataframe
print(df.describe())#to see the numerical info about the dataframe

print(df.values)#this will convert the dataframe into a numpy array

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9
   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9
   A  B  C
z  7  8  9
   A  B  C
x  1  2  3
z  7  8  9
Index(['A', 'B', 'C'], dtype='object')
Index(['x', 'y', 'z'], dtype='object')
(3, 3)
9
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes
None
[[1 2 3]
 [4 5 6]
 [7 8 9]]

## Aggreagrate Functions
In pandas, aggregate functions are used to perform summary computations on data, consolidating multiple values into a single result

In [118]:
df=pd.read_csv("C:/Projects/Machine Learning/Code/Data-Set/Pokemon_data.csv")

#Functions for whole DataFrame
print(df.describe())
print(df.mean(numeric_only=True),"\n")
print(df.sum(numeric_only=True),"\n")
print(df.min(numeric_only=True),"\n")
print(df.max(numeric_only=True),"\n")
print(df.count(),"\n")

#Funcitons for Each Columns
print(df["Height"].mean()) #to obtain mean of a particular column in a dataframe or (series)
print(df["Height"].sum())
print(df["Height"].min())
print(df["Height"].max())
print(df["Height"].count())

               No      Height      Weight   Legendary
count  150.000000  150.000000  150.000000  150.000000
mean    75.500000    1.200000   46.231333    0.026667
std     43.445368    0.963634   59.547388    0.161647
min      1.000000    0.200000    0.100000    0.000000
25%     38.250000    0.700000    9.925000    0.000000
50%     75.500000    1.000000   30.000000    0.000000
75%    112.750000    1.500000   56.375000    0.000000
max    150.000000    8.800000  460.000000    1.000000
No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

1.2
180.0
0.2
8.8
150

## Filtering

In [116]:
df=pd.read_csv("C:/Projects/Machine Learning/Code/Data-Set/Pokemon_data.csv")
print(df.head())
df.loc[df["Height"]]

   No        Name  Type1   Type2  Height  Weight  Legendary
0   1   Bulbasaur  Grass  Poison     0.7     6.9          0
1   2     Ivysaur  Grass  Poison     1.0    13.0          0
2   3    Venusaur  Grass  Poison     2.0   100.0          0
3   4  Charmander   Fire     NaN     0.6     8.5          0
4   5  Charmeleon   Fire     NaN     1.1    19.0          0

KeyError: '[0.7, 0.6, 1.1, 1.7, 0.5, 1.6, 0.3, 1.5, 1.2, 3.5, 0.4, 0.8, 1.3, 0.9, 1.4, 0.2, 1.9, 1.8, 8.8, 2.2, 6.5, 2.5, 2.1] not in index'

## Error Handling

In [ ]:
'''

input_temp=input("Enter a Pokemon:")
try:
  print(df.loc[input_temp])
except KeyError:
  print(f"{input_temp} not found")

'''

'\n\ninput_temp=input("Enter a Pokemon:")\ntry:\n  print(df.loc[input_temp])\nexcept KeyError:\n  print(f"{input_temp} not found")\n\n'